<!--The content below is only a placeholder and can be replaced.-->
<h1>Two way binging</h1>
Name: <input type='text' [(ngModel)]='name' />
<p>Name is: {{name}}</p>
<br>
Name: <input type='text' [value]="name3" (input)="name3=$event.target.value" />
<p>Name is {{name3}}</p>




<h1>Form</h1>
<form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
  Name: <input type='text' name='name2' formControlName="name2" />
  <input type="submit" class="forsubmit" value="Click">
  <div>Name is: {{name2}}</div>
</form>